@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    height: 100vh;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

/* hero-session-banner..................
................... */
.hero-session-image {
    text-align: center;
    padding: auto;
}
.hero-session-image img {
    height: 29rem;
    width: 80%;
    /* margin: auto !important; */
    margin: 30px;
}
/* navbar */

/* header............................
....................................... */

.parent-body {
    padding-top: 3.12rem;
    background-color: #2e2e2e !important;
    border-radius: 0px 0px 20px 20px;
}
/* hamburger..............................
...................................... */
.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hamburger {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: black;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}
/* HAMBURGER 3 */

.hamburger3 .bar1 {
    transform-origin: 5%;
}

.hamburger3 .bar4 {
    transform-origin: 5%;
}

.checkbox3:checked + label > .hamburger3 > .bar1 {
    transform: rotate(45deg);
    height: 3px;
    width: 42px;
}

.checkbox3:checked + label > .hamburger3 > .bar3 {
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar2 {
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar4 {
    transform: rotate(-45deg);
    height: 3px;
    width: 42px;
}

/* hamburger-ends. */

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    color: #00204a;
}
.navbar-collapse {
    /* padding-left: 33rem; */
    flex-grow: 0 !important;
}
.nav-link,
.navbar-brand {
    color: black;
}
.active {
    color: red !important;
}

.nav-link {
    margin: 0px 10px;
    font-size: 20px !important;
}
.navbar-brand {
    width: 12rem;
    height: 54px;
    padding: 10px, 10px, 10px, 0px;
}
.navbar-brand img {
    width: 100%;
    height: 90%;
}
.navbar {
    padding: 0rem 10px !important;
    background-color: #2e2e2e;
    /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.162); */
}
.bg-light {
    background-color: #f7f7f7 !important;
}

.sign-up-btn {
    padding-top: 50px;
    background-color: #ffa800;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-btn button {
    margin: auto;
}
.collapse {
    align-items: center;
}
.navbar-brand img {
    width: 9.5rem;
    /* height:5rem; */
}

.tab-pane ul li {
    font-size: 24px;
}

.know-us-images {
    font-size: 20px;
    line-height: 32px;
}

/*::::::::::::::::::::::::::::::::::::
   About Area
::::::::::::::::::::::::::::::::::::*/
.about-logo {
    height: 100%;
    width: 100%;
}
.about-bg {
    height: 100%;
    min-height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #ffc900;
}

.social-aria a {
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.social-aria {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    padding: 15px;
}

.social-aria a:hover {
    border-radius: 50%;
}

.social-aria:after {
    position: absolute;
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.about-content h2 span {
    color: #ffc900;
    font-size: 100%;
}

.about-content h4 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 15px;
}

.about-content p {
    font-weight: 400;
}

.about-content h5 {
    margin: 30px 0;
    text-transform: uppercase;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    -webkit-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-size: 14px;
    color: #ffffff;
    background: #000;
}

.skillbar-title span {
    display: block;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background-color: #ffc900;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
}

/* header-dropdown............................ */
/* Custom styles for the dropdown */
.navbar-nav .dropdown-menu {
    display: none;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 0.125rem;
}

@media (min-width: 992px) {
    .navbar-nav .dropdown-menu {
        display: none;
    }

    .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* hero-session..........................
...................................... */
.hero-session-description p {
    font-size: 20px !important;
}
.hero-session-description .batch-img {
    width: 35rem;
    margin-left: 0;
}
.get-started-btn {
    padding: 0.7rem 1.3rem !important;
}
.get-started-btn:hover {
    color: white !important;
}

.demo-btn {
    padding: 0.7rem 1.5rem !important;
}
.hero-session-description h1 {
    font-size: 45px;
}

.hero-session-description {
    padding: 6rem 0rem;
    padding-right: 3rem;
    color: white;
}
.hero-session-description h1 {
    font-weight: 700 !important;
}

.hero-session-description p {
    font-size: 18px;
    line-height: 28px;
    color: white !important;
}
.hero-session-image {
    /* height:10rem; */
    width: 100%;
}
.get-started-btn,
.demo-btn {
    padding: 12px 16px;
}
.demo-btn {
    background-color: rgba(211, 211, 211, 0.401);
}
.hero-session-buttons {
    width: 60%;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
}

.section-titile span {
    background: linear-gradient(#ec0000, #c89926);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.hero-session-description span {
    color: orange !important;
    -webkit-text-fill-color: orange;
}
.section-titile p {
    color: #259b6b;
}
.section-titile {
    margin-bottom: 40px;
}
.beyond-learning-banner {
    border-radius: 20px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 3rem 0;
}

/* career-track-page.......................
........................................ */
.career-track-image {
    height: 89%;
    width: 100%;
}
.career-track-image img {
    height: 100%;
    width: 100%;
}
section {
    padding: 60px 0px;
}
.career-track-description {
    background-color: #9c660175;
    border-radius: 13px;
    color: white;
    padding: 25px 23px;
    height: 100%;
}

.underline {
    color: white;
    font-size: bolder;
}
.next-chort {
    background-color: #fce5b7;
    border-radius: 6px;
    color: black;
    width: 40%;
    padding: 3px 5px;
}
.career-track-description p {
    font-size: 22px;
    line-height: 32px;
}
.learn-more-btn {
    background-color: #ffc3d5;
    font-weight: bold;
    padding: 6px 9px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 7px;
}

/* features-4-div.........................
............................... */
.features-div {
    width: 15rem;
    margin: auto;
}
.features-div img {
    height: 100%;
    width: 100%;
}

/* upcomiong-batches......................
................................. */
.register-btn {
    padding: 13px 24px;
    width: 100%;
    border-radius: 10px;
    background-color: #ddfdc9;
    font-size: 20px;
    color: #1b4700;
    border: none;
    outline: none;
}
.closed-btn {
    padding: 13px 24px;
    width: 100%;
    border-radius: 10px;
    background-color: #ffcaca;
    font-size: 20px;
    color: #7c0000;
    border: none;
    outline: none;
}
.batch-schedule-div {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.104);
    border-radius: 20px;
    padding: 2rem 0.6rem;
    height: 23rem;
}
.upcoming-batch-section-1 {
    margin-top: 2.625rem;
    color: #3c9e00;
}
.upcoming-batch-section-2 {
    margin-top: 2.625rem;
    color: #ff2828;
}

/* success-stories.................................
........................ */

.swiper-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    /* border:1px solid black; */
}
.testimonial-card {
    background-color: white !important;
    margin: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.testimonial-card {
    width: 17em;
    height: 22.5em;
    background: #171717;
    transition: 1s ease-in-out;
    /* clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px); */
    border-radius: 20px;
    position: relative;
}
.testimonial-details {
    /* border: 1px solid black; */
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.149);
    position: absolute;
    width: 100%;
    top: 50px;
    border-radius: 20px;
    padding-top: 2.3rem;
}

.testimonial-card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
}

.testimonial-card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
}

.testimonial-card .img {
    width: 5em;
    position: absolute;
    z-index: 300;
    left: 35%;
    height: 5em;
    background: url("../images/Testimonial/student-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
}

.testimonial-card .img img {
    height: 100%;
    border-radius: 50%;
    width: 100%;
}
/* .card{
    position: relative;
  }
  .card .img{
    position: absolute;
    top:-10px;
  } */
.testimonial-detail {
    border: 2px solid black;
    margin-top: -20px;
    padding: 1rem 0;
}

.card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.card a {
    color: white;
    transition: 0.4s ease-in-out;
}

.card a:hover {
    color: red;
}

.card button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
}

/* .card button:hover {
    background: red;
    color: white;
    cursor: pointer;
  } */
.syllabus-btn {
    border: 2px solid black groove;
}
.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

.testimonial-card {
    /* border:1px solid black; */
}

.converting {
    height: 3.4rem;
    width: 100%;
}
.converting img {
    height: 100%;
    width: 100%;
}

.teatimonial-date p {
    margin-bottom: 0px;
}
.testimonial-details {
    line-height: 5rem;
    height: 19rem;
}
.teatimonial-date {
    background-color: rgba(211, 211, 211, 0.349);
    padding: 0.2rem 0.5rem;

    border-radius: 9px;
    width: 60%;
    margin: auto;
    line-height: 30px;
}

/* google-rating....................... */
/* .google-review-text{
height:50vh;
} */
.start-images-div {
    height: 3.6rem;
    width: 50%;
    margin: auto;
}
.start-images-div img {
    height: 100%;
    width: 100%;
}
.google-small-image {
    width: 2rem !important;
    height: 2rem !important;
}
.google-small-image img {
    height: 100%;
    width: 100%;
}
.google-small-image-text {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    height: 4rem;
    /* width:20%; */
    /* margin: auto; */
    /* justify-content: space-between; */
    /* border:1px solid black; */
}
.student-reviews-image {
    width: 5rem;
    height: 5rem;
}
.student-reviews-image img {
    width: 100%;
    height: 100%;
}
.student-details {
    gap: 1rem;
    /* border:1px solid black; */
    width: 90%;
    /* border-radius: 43px; */
    margin: auto;
    padding: 5px;
}
.details p {
    text-align: left;
    padding: 0px !important;
    margin-bottom: 0 !important;
}

/* certificate................................. */
.gradient {
    background: linear-gradient(#ec0000, #c89926);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.certificate-image-div img {
    /* border:1px solid rgba(128, 128, 128, 0.4); */
    height: 90%;
    width: 100%;
}
.green + h3 {
    font-size: 48px;
}
.certification-container p {
    font-size: 22px;
}
.green {
    color: #259b6b;
    font-size: 18px !important;
}
.certificate-div-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border:1px solid black; */
}
.project-div-skills {
    display: flex;
    justify-content: space-between;
}
.project-div-skills p {
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 20px;
}
.projects-div {
    box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.451);
    padding: 13px;
    border-radius: 20px;
}
.project-div-image {
    position: relative;
    background: url("../images/projects/project-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 9rem;
    /* border:1px solid black; */
    border-radius: 10px;
    margin-bottom: 10px;
}
.project-div-image p {
    position: absolute;
    top: 70%;
    font-weight: bold;
    right: 8%;
}

/* career-path-program........................... */
.career-path-div {
    width: 100%;
    height: 100%;
}
.career-path-div img {
    width: 100%;
    height: 100%;
}

/* course................. */
.card {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px 2px rgba(211, 211, 211, 0.532);
}
.course-div {
    width: 100%;
    background-color: #fff974;
}
.course-div-2 {
    background-color: #ffd074;
}
.course-div-3 {
    background-color: #8774ff;
}
.course-div-image {
    height: 10rem;
    width: 90%;
    margin: auto;
}
.course-div-image img {
    height: 100%;
    width: 100%;
}
.course-div-arrow {
    height: 2rem;
    /* border:1px solid black; */
    display: flex;
    justify-content: right;
}
.course-div-arrow img {
    height: 100%;
    width: 1.9rem;
}
.border-right {
    /* padding:10px; */
    border-right: 1px solid grey;
}
hr {
    margin: 0px 0px !important;
}
.card a {
    text-decoration: none;
}
.card h3 {
    color: black;
}

/* course-plans................ */
.left-box {
    /* border:1px solid black; */
    border-radius: 20px;
    /* width:80%; */
    padding: 20px;
    background-color: #2b5b4d;
    color: white;
    font-size: 20px;
}

.left-box ul {
    padding-left: 0; /* Remove default padding */
}

.left-box ul li {
    list-style: none;
    font-size: 19px;

    margin-top: 0.9rem;
    position: relative;
    padding-left: 2.5rem;
}

.left-box ul li::before {
    content: url("../images/checkmark-circle.svg");
    position: absolute;
    left: 0;
    top: 20%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
}

.view-plan-bttn {
    text-align: center;
    width: 100%;
}
.view-plan-bttn button {
    border: 1px solid white;
    color: white;
    /* width:70%; */
    margin-top: 20px;

    border-radius: 20px;
    font-size: 22px;
}
.plans-section img{
    width: 350px;
}
.different::before {
    content: url("../images/black-checkmark.png") !important;
    position: absolute;
    left: 0;
    top: 65% !important;
    transform: translateY(-50%);
    width: 35px !important;
    height: 35px !important;
}
.not::before {
    content: url("../images/cancel-circle.svg") !important;
    position: absolute;
    left: 0;
    top: 20%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
}
.middle-box {
    background-color: #c1184d !important;
}
.right-box {
    background-color: #303030 !important;
}

/* join-revolution......................... */
.join-revolution-parent {
    background: url("../images/join-revolution/join-revolution-background.png");
    /* height: 15rem; */
    padding: 4rem;
}
.join-revolution-left {
    background: url("../images/join-revolution/join-revolution-image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15rem;
    width: 70%;
}
.join-revolution-right {
    font-size: 45px;
    color: white;
}
.Connect-With-Us-btn {
    background-color: white !important;
    border: 1px solid black;
    padding: 1.5rem 1.7rem;
}

/* syllabus....................... */

/* slider.............................*/

.single-blog {
    border-radius: 6px;
    /* padding:3.4rem 1.5rem !important; */
    padding: 2.4rem 1.5rem !important;
}
.single-blog {
    background-color: #fff;
    padding: 5px;
    min-height: 30vh;
    box-shadow: 0 0 10px #ddd;
    margin-bottom: 30px;
    margin: 20px;
}
.blog-title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 15px;
    text-decoration: none !important;
    font-weight: 400;
    text-align: center;
}
.blog-title:hover {
    font-size: 20px !important;
}
.chat-image {
    height: 70px;
    width: 70px;
}
.single-blog:hover {
    box-shadow: 0 0 10px 10px rgba(61, 61, 61, 0.104);
    /* background-color: rgba(108, 156, 177, 0.104); */
}

.single-blog h3 {
    color: rgb(203, 70, 21);
}
.single-blog .blog-title a {
    text-decoration: none;
    color: black;
}

.single-blog:hover .blog-title {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    /* color:white !important; */
}

.blog-2 {
    border-bottom: 3px solid #f68c09;
}
/* .blog-2:hover{
      background-color: #f68c09;
  } */

/* three */
.blog-3 {
    border-bottom: 3px solid #08da4e;
}
/* .blog-3:hover{
      background-color: #08da4e;
  } */

/* four */
.blog-4 {
    border-bottom: 3px solid #2db6fa;
}
/* .blog-4:hover{
      background-color: #2db6fa;
  } */
/* five */
.blog-5 {
    border-bottom: 3px solid #b50edf;
}
/* .blog-5:hover{
      background-color: #b50edf;
  } */
/* six */
.blog-6 {
    border-bottom: 3px solid #f51f9c;
}
/* .blog-6:hover{
      background-color: #f51f9c;
  } */

/* seven */
.blog-7 {
    border-bottom: 3px solid #2db6fa;
}
/* .blog-7:hover{
      background-color: #2db6fa;
  } */
/* eight */
.blog-8 {
    border-bottom: 3px solid #f68c09;
}
/* .blog-8:hover{
      background-color: #f68c09;
  } */
/* nine */
.blog-9 {
    border-bottom: 3px solid #08da4e;
}
/* .blog-9:hover{
      background-color: #08da4e;
  } */
/* ten */
.blog-10 {
    border-bottom: 3px solid #e9222c;
}
/* .blog-10:hover{
      background-color: #e9222c;
  } */
/* eleven */
.blog-11 {
    border-bottom: 3px solid #b50edf;
}
/* .blog-11:hover{
      background-color: #b50edf;
  } */
/* twelve */
.blog-12 {
    border-bottom: 3px solid #f51f9c;
}
/* .blog-12:hover{
      background-color: #f51f9c;
  } */
.blog-1 {
    border-bottom: 3px solid rgba(255, 0, 0, 0.734);
}
/* .blog-1:hover{
      background-color: rgba(255, 0, 0, 0.734);
  } */

.blog-area ul li {
    font-size: 18px;
}

.section-title {
    padding-bottom: 30px;
}

.section-title-outline {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}
.section-title-outline:after {
    background-color: transparent !important;
}
.section-title-outline:before {
    background-color: transparent !important;
    border: none !important;
}

.section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}

.section-title p {
    margin: 15px auto 0 auto;
}

/* ------------------------------------------------course details-------------------
---------------------------------------- */
.course-features {
    display: flex;
    gap: 9px;
}
.course-features p {
    font-size: 18px !important;
}
.course-features p p {
    text-align: left;
}
.course-des {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

    margin: 0px;
}
.section .img-fluid {
    padding: 0 !important;
    height: 400px;
}
/*--------------------------------------------------------------
# Courses Section
--------------------------------------------------------------*/
.courses .course-item {
    background-color: transparent;
    border: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
    border-radius: 17px;
}
.course-item img {
    border-radius: 15px 15px 0px 0px;
}
.courses img {
    width: 25rem;
    margin: 10px;
}
.courses .course-content {
    padding: 15px;
}

.courses .course-content h3 {
    font-weight: 700;
    font-size: 20px;
}

.courses .course-content h3 a {
    color: var(--heading-color);
    transition: 0.3s;
}

.courses .course-content h3 a:hover {
    color: var(--accent-color);
}

.courses .course-content .category {
    background: var(--accent-color);
    color: var(--contrast-color);
    font-size: 14px;
    padding: 6px 14px;
    margin: 0;
    border-radius: 5px;
}

.courses .course-content .price {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.courses .course-content .description {
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.courses .trainer {
    padding-top: 15px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.courses .trainer .trainer-profile img {
    max-width: 50px;
    border-radius: 50px;
}

.courses .trainer .trainer-profile .trainer-link {
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    transition: 0.3s;
}

.courses .trainer .trainer-profile .trainer-link:hover {
    color: var(--accent-color);
}

.courses .trainer .trainer-rank {
    font-size: 18px;
    color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.courses .trainer .trainer-rank .user-icon {
    font-size: 22px;
}

/*--------------------------------------------------------------
# Courses Course Details Section
--------------------------------------------------------------*/
.courses-course-details {
    padding-bottom: 20px;
}

.courses-course-details h3 {
    font-size: 24px;
    margin: 30px 0 15px 0;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
}

.courses-course-details h3:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: color-mix(in srgb, var(--default-color), transparent 90%);
    bottom: 0;
    left: 0;
}

.courses-course-details h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 1px;
    background: var(--accent-color);
    bottom: 0;
    left: 0;
}

.courses-course-details .course-info {
    background: color-mix(in srgb, var(--default-color), transparent 95%);
    padding: 10px 15px;
    margin-bottom: 15px;
}

.courses-course-details .course-info h5 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    font-family: var(--nav-font);
}

.courses-course-details .course-info p {
    margin: 0;
    font-weight: 600;
    text-align: right;
}

.courses-course-details .course-info a {
    color: var(--accent-color);
}
.course-syllabus .Syllabus-content{
    background-image:linear-gradient(to right,rgb(31, 31, 31),rgb(118, 36, 36));
    color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    
}
.course-syllabus .Tools img{
    margin-bottom: 10px !important;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;


}
.page-title {
    margin-top: 2rem !important;
    /* background: linear-gradient(#EC0000,#C89926);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; */
    color: orange !important;
}
.page-title .heading {
    padding: 10px 10px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}
/*--------------------------------------------------------------
# Tabs Section
--------------------------------------------------------------*/
.tabs {
    padding-top: 30;
}

.tabs .nav-tabs {
    border: 0;
}

.tabs .nav-link {
    background-color: var(--background-color);
    border: 0;
    padding: 12px 15px;
    transition: 0.3s;
    color: var(--default-color);
    border-radius: 0;
    border-right: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
    font-weight: 600;
    font-size: 15px;
}

.tabs .nav-link:hover {
    color: var(--accent-color);
}

.tabs .nav-link.active {
    background-color: var(--surface-color);
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.tabs .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
}

.tabs .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tabs .details p {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.tabs .details p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .tabs .nav-link {
        border: 0;
        padding: 15px;
    }

    .tabs .nav-link.active {
        color: var(--accent-color);
        background: var(--accent-color);
    }
    
}
.breadcrumbs {
    background-color: rgba(211, 211, 211, 0.29) !important;
    padding: 20px 0 !important;
    display: flex;
}
.breadcrumbs ol {
    display: flex;
    /* justify-content: space-between; */
    list-style-type: none;
}
.breadcrumbs ol li a {
    text-decoration: none;
    color: white;
}

.courses-course-details .course-info {
    background: rgba(211, 211, 211, 0.295);
    padding: 10px 15px;
    margin-bottom: 15px;
}

.tabs .nav-link.active {
    color: white !important;

    background: #fcac00;
}

.tabs .nav-link {
    background-color: rgba(211, 211, 211, 0.2);
    border: 0;
    padding: 12px 15px;
    transition: 0.3s;
    color: black !important;
    margin-top: 20px !important;
    border-right: 2px solid rgba(128, 128, 128, 0.563);
    font-weight: 600;
    font-size: 15px;
}

/* footer....................
..................... */
.footer {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.footer-tab {
    margin-top: 28px !important;
    padding: 20px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .logo img {
    max-width: 150px;
}

/* .footer-tab h5{
      text-align: center;
    } */
/* .list-unstyled{
      width:50%;
      margin: auto;
    } */
.fa-linkedin,
.fa-youtube,
.fa-facebook,
.fa-instagram {
    color: white;
    font-size: 26px !important;
    padding: 10px;
}
.social-link a {
    font-size: 20px !important;
    text-decoration: none !important;
}
.social-link a:hover {
    text-decoration: none;
}
.footer .list-unstyled {
    display: flex;
    gap: 2rem;
    margin-top: 20px;
}

button:hover {
    color: black !important;
}

/* contact-us-page............................
.............................................. */
.submit-btn {
    color: white;
    background: #fcac00;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border: 0;
    padding: 10px 30px 12px 30px;
    transition: 0.4s;
    border-radius: 50px;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .tabs .nav-tabs {
        border-right: none;
        border-bottom: 1px solid #dee2e6;
    }

    .tabs .nav-tabs .nav-item {
        margin-bottom: 0;
    }

    .tabs .nav-tabs .nav-item .nav-link {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .tabs .nav-tabs {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tabs .nav-tabs .nav-item {
        margin-bottom: 5px;
        flex: 1 1 50%;
    }

    .tabs .tab-content .tab-pane .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .tabs .tab-content .tab-pane .details {
        text-align: center;
    }

    .tabs .tab-content .tab-pane .text-center {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .tabs .nav-tabs {
        flex-direction: column;
    }

    .tabs .nav-tabs .nav-item {
        margin-bottom: 5px;
        flex: 1 1 auto;
    }

    .tabs .tab-content .tab-pane .details {
        padding: 10px;
    }

    .tabs .tab-content .tab-pane .details h3 {
        font-size: 20px;
    }

    .tabs .tab-content .tab-pane .details p {
        font-size: 14px;
    }
    .best-solution-div h2,
    .best-solution-div p {
        width: auto;
    }

    .tabs .tab-content .tab-pane {
        height: auto;
    }
    .tabs .container {
        height: auto;
    }
    .new-tab-pane .row {
        padding: 12px 6px;
    }
    .new-tab-pane ul {
        padding: 0px;
        text-align: left;
    }
    .new-tab-pane .details {
        padding: 0px !important;
    }
    .section {
        padding: 30px 0px;
    }
    .feature-div-company {
        width: 60%;
        margin: auto;
    }
    .latest-article-title {
        flex-direction: column;
    }
    .hero-session-buttons {
        width: 100%;
    }
    .hero-session-description {
        padding: 0px 0px !important;
    }
}
.courses img {
    width: 25rem;
    /* margin: 10px; */
}
@media screen and (min-width: 280px) and (max-width: 500px) {
    .next-chort {
        width: 70%;
    }
    .hero-session-description .batch-img {
        width: 22rem;
    }
    .navbar-collapse {
        padding: 10px !important;
        border-bottom: 1px solid white;
    }
    .sign-up-btn {
        margin-top: 30px;
    }
    .navbar-nav {
        margin-bottom: 1px solid white;
    }
    .hero-session-image {
        padding-bottom: 30px;
    }
    .hero-session-description .batch-img{
        width: 19rem;
    }
    .plans-section img {
        width: 300px;
    }
    .courses img {
        width: 20rem;
        /* margin: 10px; */
    }
}

.google-review-card p {
    font-size: 14px;
    font-weight: 400;
}
.courses-course-details .heading {
    line-height: 10vh;
    font-weight: 600;
}
.courses-course-details .Button {
    /* width: 100px; */
    padding: 5px 20px 5px 20px;
    background-color: #171717;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: auto !important;
}
.courses-course-details .Button:hover{
    color: white !important;
}
.courses-course-details .logo {
    width: 350px;
    height: 350px;
}
.courses-course-details .head-p {
    justify-content: left;
    padding-right: 30px;
}
.course-section .course-info {
    width: 80%;
    margin-right: 50px;
    /* margin-bottom: 10px; */
}
.course-section .course-info h2 {
    margin-top: 30px !important;
    margin-bottom: 30px;
}
.banner-img-course-details .card {
    padding: 30px;
}
.banner-img {
    width: 100%;
}
.placement .container {
    display: flex;
}
.placement .placement-slider-div {
    border: 2px ridge rgb(209, 208, 208);
    border-radius: 20px;
    padding: 10px;
    flex: 1;
    align-items: stretch;
    height: 150px;
}
.placement img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.placement .placed-student-info {
    display: flex;
}
.placement .placed-student-name {
    margin-left: 20px;
    color: #2d2424;
}
.placement .placed-student-name img {
    width: 30px;
    height: 30px;
}
.placement .package {
    font-weight: 600;
    font-size: 18px;
    width: 150px;
    color: #1404c9;
    text-align: center;

    /* background-color: #d4e1f1; */
    /* color: white; */
    /* border: 2px ridge; */
    /* padding: 10px; */

    /* margin: auto; */
}
.placement .feedback p {
    color: #171717;
    margin-top: 20px;
}
.placement .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Faq section */
.faq .content-subtitle {
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
    color: var(--default-color);
}

.faq .content-title {
    color: var(--heading-color);
    font-size: 22px;
    margin-bottom: 30px;
}

.faq p {
    line-height: 1.7;
    color: var(--default-color);
}

.faq .custom-accordion .accordion-item {
    /* background-color: var(--surface-color); */
    background-color: #ebeaea;
    margin-bottom: 0px;
    position: relative;
    border-radius: 0px;
    overflow: hidden;
}

.faq .custom-accordion .accordion-item .btn-link {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    text-align: left;
    color: var(--default-color);
    border: none;
    padding-left: 40px;
    border-radius: 0;
    position: relative;
    background-color: color-mix(in srgb, var(--default-color), transparent 94%);
}

.faq .custom-accordion .accordion-item .btn-link:before {
    content: "\f282";
    display: inline-block;
    font-family: "bootstrap-icons" !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

.faq .custom-accordion .accordion-item .btn-link[aria-expanded="true"] {
    color: orange;
}

.faq .custom-accordion .accordion-item .btn-link[aria-expanded="true"]:before {
    font-family: "bootstrap-icons" !important;
    content: "\f286";
    position: absolute;
    color: var(--accent-color);
    top: 50%;
    transform: translateY(-50%);
}

.faq .custom-accordion .accordion-item .accordion-body {
    padding: 20px 20px 20px 20px;
    /* color: var(--default-color); */
    color: #000000;
    background-color: white;
}
.Certificate-section{
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Tools slider */  
  .icon-slider {
    width: 100%;
    overflow: hidden; /* Hide overflow horizontally */
    white-space: nowrap; /* Prevent wrapping of icons */
  }
  
  .icon-track {
    display: flex;
    flex-wrap: nowrap; /* Ensure that the icons stay in a single line */
    animation: scroll 20s linear infinite;
  }
  
  .icon {
    flex: 0 0 auto; /* Ensure icons don’t shrink or grow */
  }
  
  .icon img {
    width: 15vw; /* Responsive icon sizing */
    height: auto; /* Keep icon aspect ratio */
    max-width: 200px; /* Max size of the icons */
    min-width: 100px; /* Min size for smaller screens */
    margin-right: 20px; /* Adjust space between icons */
    vertical-align: middle; /* Align icons in the middle to avoid offset */
  }
  
  /* Keyframe animation for smooth continuous scrolling */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 600px) {
    .icon img {
      width: 10vw; /* Larger icons on smaller screens */
      margin-right: 10px; /* Less spacing */
    }
  
    .icon-track {
      animation: scroll 15s linear infinite; /* Faster scroll on smaller screens */
    }
  }
  
  #featured-services .about-info{
    margin-top: 60px;
  }
  #featured-services .about-info h5{
    color: #106eea;
  }
  #featured-services{
    margin-top: 0 !important;
  }